<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet"  type="text/css" href="/static/css/head.css" />
    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="head1" >
    <img src="/static/images/a1.png"  style="width: 80px ;height: 80px" >
    <div class="head2">
      <div  style="font-size: 20px">曙光共享资源平台</div>
      <div  class="text1">  我的职业课堂</div>
    </div>
    <div    style="font-size: 25px;margin-left: 20vh "    th:if="${session}"><a href="#"   style="color: black" > 院校</a> </div>
    <div    style="font-size: 25px ;margin-left: 35px"   th:if="${session}"><a href="#"    style="color: black"  > 课程</a> </div>
    <div class="search">
        <form>
            <span >课程</span>
            <img src="/static/images/img.png" >
            <input type="text" placeholder="Search...">
            <button type="submit"></button>
        </form>
    </div>
    <a id="modal-703299" href="#modal-container-703299" role="button" class="btn" data-toggle="modal">触发遮罩窗体</a>

    <div class="modal fade" id="modal-container-703299" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        标题
                    </h4>
                </div>
                <div class="modal-body">
                    内容...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>

        </div>

    </div>




</div>



</body>
</html>